AccWebService/Web References/HPAGBCWebService/GBCWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetVw_GBCVisaDetailJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="acmWordNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVw_GBCVisaDetailJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVw_GBCVisaDetailJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillVouNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="acmWordNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accKind" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accCount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accDetail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vouNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vouDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillVouNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillVouNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYear">
        <s:complexType />
      </s:element>
      <s:element name="GetYearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetYearResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAcmWordNum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accYear" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAcmWordNumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAcmWordNumResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccKind">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="acmWordNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccKindResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccKindResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="acmWordNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accKind" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccCountResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="acmWordNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accKind" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accCount" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccDetailResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByPrimaryKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="acmWordNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accKind" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accCount" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByPrimaryKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByPrimaryKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByKind">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accKind" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="batch" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByKindResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByKindResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetVw_GBCVisaDetailJSONSoapIn">
    <wsdl:part name="parameters" element="tns:GetVw_GBCVisaDetailJSON" />
  </wsdl:message>
  <wsdl:message name="GetVw_GBCVisaDetailJSONSoapOut">
    <wsdl:part name="parameters" element="tns:GetVw_GBCVisaDetailJSONResponse" />
  </wsdl:message>
  <wsdl:message name="FillVouNoSoapIn">
    <wsdl:part name="parameters" element="tns:FillVouNo" />
  </wsdl:message>
  <wsdl:message name="FillVouNoSoapOut">
    <wsdl:part name="parameters" element="tns:FillVouNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetYearSoapIn">
    <wsdl:part name="parameters" element="tns:GetYear" />
  </wsdl:message>
  <wsdl:message name="GetYearSoapOut">
    <wsdl:part name="parameters" element="tns:GetYearResponse" />
  </wsdl:message>
  <wsdl:message name="GetAcmWordNumSoapIn">
    <wsdl:part name="parameters" element="tns:GetAcmWordNum" />
  </wsdl:message>
  <wsdl:message name="GetAcmWordNumSoapOut">
    <wsdl:part name="parameters" element="tns:GetAcmWordNumResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccKindSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccKind" />
  </wsdl:message>
  <wsdl:message name="GetAccKindSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccKindResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccCount" />
  </wsdl:message>
  <wsdl:message name="GetAccCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccDetail" />
  </wsdl:message>
  <wsdl:message name="GetAccDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetByPrimaryKeySoapIn">
    <wsdl:part name="parameters" element="tns:GetByPrimaryKey" />
  </wsdl:message>
  <wsdl:message name="GetByPrimaryKeySoapOut">
    <wsdl:part name="parameters" element="tns:GetByPrimaryKeyResponse" />
  </wsdl:message>
  <wsdl:message name="GetByKindSoapIn">
    <wsdl:part name="parameters" element="tns:GetByKind" />
  </wsdl:message>
  <wsdl:message name="GetByKindSoapOut">
    <wsdl:part name="parameters" element="tns:GetByKindResponse" />
  </wsdl:message>
  <wsdl:portType name="GBCWebServiceSoap">
    <wsdl:operation name="GetVw_GBCVisaDetailJSON">
      <wsdl:input message="tns:GetVw_GBCVisaDetailJSONSoapIn" />
      <wsdl:output message="tns:GetVw_GBCVisaDetailJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillVouNo">
      <wsdl:input message="tns:FillVouNoSoapIn" />
      <wsdl:output message="tns:FillVouNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetYear">
      <wsdl:input message="tns:GetYearSoapIn" />
      <wsdl:output message="tns:GetYearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAcmWordNum">
      <wsdl:input message="tns:GetAcmWordNumSoapIn" />
      <wsdl:output message="tns:GetAcmWordNumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccKind">
      <wsdl:input message="tns:GetAccKindSoapIn" />
      <wsdl:output message="tns:GetAccKindSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccCount">
      <wsdl:input message="tns:GetAccCountSoapIn" />
      <wsdl:output message="tns:GetAccCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccDetail">
      <wsdl:input message="tns:GetAccDetailSoapIn" />
      <wsdl:output message="tns:GetAccDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByPrimaryKey">
      <wsdl:input message="tns:GetByPrimaryKeySoapIn" />
      <wsdl:output message="tns:GetByPrimaryKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByKind">
      <wsdl:input message="tns:GetByKindSoapIn" />
      <wsdl:output message="tns:GetByKindSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GBCWebServiceSoap" type="tns:GBCWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVw_GBCVisaDetailJSON">
      <soap:operation soapAction="http://tempuri.org/GetVw_GBCVisaDetailJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillVouNo">
      <soap:operation soapAction="http://tempuri.org/FillVouNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYear">
      <soap:operation soapAction="http://tempuri.org/GetYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAcmWordNum">
      <soap:operation soapAction="http://tempuri.org/GetAcmWordNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccKind">
      <soap:operation soapAction="http://tempuri.org/GetAccKind" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccCount">
      <soap:operation soapAction="http://tempuri.org/GetAccCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccDetail">
      <soap:operation soapAction="http://tempuri.org/GetAccDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByPrimaryKey">
      <soap:operation soapAction="http://tempuri.org/GetByPrimaryKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByKind">
      <soap:operation soapAction="http://tempuri.org/GetByKind" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GBCWebServiceSoap12" type="tns:GBCWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVw_GBCVisaDetailJSON">
      <soap12:operation soapAction="http://tempuri.org/GetVw_GBCVisaDetailJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillVouNo">
      <soap12:operation soapAction="http://tempuri.org/FillVouNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYear">
      <soap12:operation soapAction="http://tempuri.org/GetYear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAcmWordNum">
      <soap12:operation soapAction="http://tempuri.org/GetAcmWordNum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccKind">
      <soap12:operation soapAction="http://tempuri.org/GetAccKind" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccCount">
      <soap12:operation soapAction="http://tempuri.org/GetAccCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccDetail">
      <soap12:operation soapAction="http://tempuri.org/GetAccDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByPrimaryKey">
      <soap12:operation soapAction="http://tempuri.org/GetByPrimaryKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByKind">
      <soap12:operation soapAction="http://tempuri.org/GetByKind" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GBCWebService">
    <wsdl:port name="GBCWebServiceSoap" binding="tns:GBCWebServiceSoap">
      <soap:address location="http://59.125.117.100/HPAGBCWebService/GBCWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="GBCWebServiceSoap12" binding="tns:GBCWebServiceSoap12">
      <soap12:address location="http://59.125.117.100/HPAGBCWebService/GBCWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>