AccWebService/Web References/HPAGBCWebService/HPAGBCWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAccKind">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BarCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccKindResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccKindResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSP_GBCVisaDetailJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BarCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSP_GBCVisaDetailJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSP_GBCVisaDetailJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSP_GBCVisaDetailJSONForVoucher">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BarCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSP_GBCVisaDetailJSONForVoucherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSP_GBCVisaDetailJSONForVoucherResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillVouNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="acmWordNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accKind" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accCount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accDetail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vouNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vouDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillVouNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillVouNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataExchangeVouMain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataExchangeVouMainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataExchangeVouMainResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertVouDataFromNPSF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VouDataJSON" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertVouDataFromNPSFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertVouDataFromNPSFResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteVouDataFromNPSF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VouDataJSON" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteVouDataFromNPSFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteVouDataFromNPSFResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAccKindSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccKind" />
  </wsdl:message>
  <wsdl:message name="GetAccKindSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccKindResponse" />
  </wsdl:message>
  <wsdl:message name="GetSP_GBCVisaDetailJSONSoapIn">
    <wsdl:part name="parameters" element="tns:GetSP_GBCVisaDetailJSON" />
  </wsdl:message>
  <wsdl:message name="GetSP_GBCVisaDetailJSONSoapOut">
    <wsdl:part name="parameters" element="tns:GetSP_GBCVisaDetailJSONResponse" />
  </wsdl:message>
  <wsdl:message name="GetSP_GBCVisaDetailJSONForVoucherSoapIn">
    <wsdl:part name="parameters" element="tns:GetSP_GBCVisaDetailJSONForVoucher" />
  </wsdl:message>
  <wsdl:message name="GetSP_GBCVisaDetailJSONForVoucherSoapOut">
    <wsdl:part name="parameters" element="tns:GetSP_GBCVisaDetailJSONForVoucherResponse" />
  </wsdl:message>
  <wsdl:message name="FillVouNoSoapIn">
    <wsdl:part name="parameters" element="tns:FillVouNo" />
  </wsdl:message>
  <wsdl:message name="FillVouNoSoapOut">
    <wsdl:part name="parameters" element="tns:FillVouNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataExchangeVouMainSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataExchangeVouMain" />
  </wsdl:message>
  <wsdl:message name="GetDataExchangeVouMainSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataExchangeVouMainResponse" />
  </wsdl:message>
  <wsdl:message name="InsertVouDataFromNPSFSoapIn">
    <wsdl:part name="parameters" element="tns:InsertVouDataFromNPSF" />
  </wsdl:message>
  <wsdl:message name="InsertVouDataFromNPSFSoapOut">
    <wsdl:part name="parameters" element="tns:InsertVouDataFromNPSFResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteVouDataFromNPSFSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteVouDataFromNPSF" />
  </wsdl:message>
  <wsdl:message name="DeleteVouDataFromNPSFSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteVouDataFromNPSFResponse" />
  </wsdl:message>
  <wsdl:portType name="HPAGBCWebServiceSoap">
    <wsdl:operation name="GetAccKind">
      <wsdl:input message="tns:GetAccKindSoapIn" />
      <wsdl:output message="tns:GetAccKindSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSP_GBCVisaDetailJSON">
      <wsdl:input message="tns:GetSP_GBCVisaDetailJSONSoapIn" />
      <wsdl:output message="tns:GetSP_GBCVisaDetailJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSP_GBCVisaDetailJSONForVoucher">
      <wsdl:input message="tns:GetSP_GBCVisaDetailJSONForVoucherSoapIn" />
      <wsdl:output message="tns:GetSP_GBCVisaDetailJSONForVoucherSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillVouNo">
      <wsdl:input message="tns:FillVouNoSoapIn" />
      <wsdl:output message="tns:FillVouNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataExchangeVouMain">
      <wsdl:input message="tns:GetDataExchangeVouMainSoapIn" />
      <wsdl:output message="tns:GetDataExchangeVouMainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertVouDataFromNPSF">
      <wsdl:input message="tns:InsertVouDataFromNPSFSoapIn" />
      <wsdl:output message="tns:InsertVouDataFromNPSFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVouDataFromNPSF">
      <wsdl:input message="tns:DeleteVouDataFromNPSFSoapIn" />
      <wsdl:output message="tns:DeleteVouDataFromNPSFSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HPAGBCWebServiceSoap" type="tns:HPAGBCWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccKind">
      <soap:operation soapAction="http://tempuri.org/GetAccKind" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSP_GBCVisaDetailJSON">
      <soap:operation soapAction="http://tempuri.org/GetSP_GBCVisaDetailJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSP_GBCVisaDetailJSONForVoucher">
      <soap:operation soapAction="http://tempuri.org/GetSP_GBCVisaDetailJSONForVoucher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillVouNo">
      <soap:operation soapAction="http://tempuri.org/FillVouNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataExchangeVouMain">
      <soap:operation soapAction="http://tempuri.org/GetDataExchangeVouMain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertVouDataFromNPSF">
      <soap:operation soapAction="http://tempuri.org/InsertVouDataFromNPSF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVouDataFromNPSF">
      <soap:operation soapAction="http://tempuri.org/DeleteVouDataFromNPSF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HPAGBCWebServiceSoap12" type="tns:HPAGBCWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccKind">
      <soap12:operation soapAction="http://tempuri.org/GetAccKind" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSP_GBCVisaDetailJSON">
      <soap12:operation soapAction="http://tempuri.org/GetSP_GBCVisaDetailJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSP_GBCVisaDetailJSONForVoucher">
      <soap12:operation soapAction="http://tempuri.org/GetSP_GBCVisaDetailJSONForVoucher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillVouNo">
      <soap12:operation soapAction="http://tempuri.org/FillVouNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataExchangeVouMain">
      <soap12:operation soapAction="http://tempuri.org/GetDataExchangeVouMain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertVouDataFromNPSF">
      <soap12:operation soapAction="http://tempuri.org/InsertVouDataFromNPSF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVouDataFromNPSF">
      <soap12:operation soapAction="http://tempuri.org/DeleteVouDataFromNPSF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HPAGBCWebService">
    <wsdl:port name="HPAGBCWebServiceSoap" binding="tns:HPAGBCWebServiceSoap">
      <soap:address location="http://59.125.117.100/HPAGBCWebService/HPAGBCWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="HPAGBCWebServiceSoap12" binding="tns:HPAGBCWebServiceSoap12">
      <soap12:address location="http://59.125.117.100/HPAGBCWebService/HPAGBCWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>