AccWebService/Web References/HPAGBCWebService/HPAGBCWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAccKind">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BarCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccKindResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccKindResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSP_GBCVisaDetailJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BarCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSP_GBCVisaDetailJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSP_GBCVisaDetailJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAccKindSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccKind" />
  </wsdl:message>
  <wsdl:message name="GetAccKindSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccKindResponse" />
  </wsdl:message>
  <wsdl:message name="GetSP_GBCVisaDetailJSONSoapIn">
    <wsdl:part name="parameters" element="tns:GetSP_GBCVisaDetailJSON" />
  </wsdl:message>
  <wsdl:message name="GetSP_GBCVisaDetailJSONSoapOut">
    <wsdl:part name="parameters" element="tns:GetSP_GBCVisaDetailJSONResponse" />
  </wsdl:message>
  <wsdl:portType name="HPAGBCWebServiceSoap">
    <wsdl:operation name="GetAccKind">
      <wsdl:input message="tns:GetAccKindSoapIn" />
      <wsdl:output message="tns:GetAccKindSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSP_GBCVisaDetailJSON">
      <wsdl:input message="tns:GetSP_GBCVisaDetailJSONSoapIn" />
      <wsdl:output message="tns:GetSP_GBCVisaDetailJSONSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HPAGBCWebServiceSoap" type="tns:HPAGBCWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccKind">
      <soap:operation soapAction="http://tempuri.org/GetAccKind" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSP_GBCVisaDetailJSON">
      <soap:operation soapAction="http://tempuri.org/GetSP_GBCVisaDetailJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HPAGBCWebServiceSoap12" type="tns:HPAGBCWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccKind">
      <soap12:operation soapAction="http://tempuri.org/GetAccKind" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSP_GBCVisaDetailJSON">
      <soap12:operation soapAction="http://tempuri.org/GetSP_GBCVisaDetailJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HPAGBCWebService">
    <wsdl:port name="HPAGBCWebServiceSoap" binding="tns:HPAGBCWebServiceSoap">
      <soap:address location="http://59.125.117.100/HPAGBCWebService/HPAGBCWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="HPAGBCWebServiceSoap12" binding="tns:HPAGBCWebServiceSoap12">
      <soap12:address location="http://59.125.117.100/HPAGBCWebService/HPAGBCWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>